.table {
    border: solid 1px black;
}

.table-left {
    width: 30%;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.table-right {
    width: 70%;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    float: right;
}

.tab-head {
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    background-color: #015591;
    color: #fff;
}

.allContent5 {
    margin-left: 40px;
    width: 90%;
}